{{define "base"}}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{template "title" .}}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" type="image/svg+xml" href="/static/icon.svg" />
    <link href="https://api.fontshare.com/v2/css?f[]=general-sans@400,600&display=swap" rel="stylesheet" />
</head>

<body class="{{block "bodyClass" .}}{{end}}">
    <header class="site-header">{{template "nav" .}}</header>

    <main class="app-container -home">
        <section id="target-div">{{template "body" .}}</section>
    </main>

    {{template "footer" .}}
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
        integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
        crossorigin="anonymous"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>
{{end}}